.sponsor-logo {
  width: 15em;
  border-radius: 50%;
}
/* @media only screen and (min-width: 56.25em) {
  .sponsor-logo {
    width: 15em;
  }
} */

@media only screen and (max-width: 56.25em) {
  .sponsor-logo {
    width: 12em;
  }
}

@media only screen and (max-width: 37.5em) {
  .sponsor-logo {
    width: 8em;
  }
}

@media only screen and (max-width: 22.5em) {
  .sponsor-logo {
    width: 7em;
  }
}

/* @media only screen and (max-width:) {
  .term {
      font-size: 0.8rem;
  }
} */