/*
1em=16px

IPHONE 5SE: 20em
GALAXY S5: 22.5em
IPHONE 6/7/8: 23.43em
IPHONE X: 23.43em
PIXEL 2/2XL: 25.68em
IPHONE 6/7/8 PLUS: 25.87em

bp-1 [500px]=>[31.25em]
bp-2 [600px]=>[37.5em]
bp-3 [700px]=>[43.75em]
bp-4 [800px]=>[50em]
bp-5 [900px]=>[56.25em]
bp-6 [1100px]=>[68.75em]
bp-7 [1200px]=>[75em]
bp-8 [1300px to 1600px]=>[81.25em to 100em]
bp-9 [1800+]=>[112.5em]
*/
.heading-main {
  text-align: center;
  padding: 1.5rem;
  margin: 1.5rem 0;
  background-color: #1f1f1f; }
  .heading-main__text {
    display: inline-block;
    font-size: 4.3rem;
    font-weight: 800;
    color: #eae9e9;
    text-transform: uppercase;
    margin: 0rem !important; }
    @media only screen and (min-width: 80em) and (max-width: 100em) {
      .heading-main__text {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 75em) {
      .heading-main__text {
        font-size: 3rem; } }
    @media only screen and (max-width: 25.875em) {
      .heading-main__text {
        font-size: 2.3rem; } }
    @media only screen and (max-width: 22.5em) {
      .heading-main__text {
        font-size: 2rem; } }

@media only screen and (max-width: 68.75em) {
  .internal-heading {
    text-align: center; } }

.internal-heading__modifier {
  font-size: 3rem;
  color: #eae9e9;
  font-weight: 600;
  border-bottom: 0.3rem solid #4286f4;
  display: inline-block;
  margin-bottom: 3rem;
  text-transform: uppercase; }
  @media only screen and (min-width: 80em) and (max-width: 100em) {
    .internal-heading__modifier {
      font-size: 2.5rem;
      margin-bottom: 3rem;
      border-bottom: 3px solid #4286f4; } }
  @media only screen and (max-width: 75em) {
    .internal-heading__modifier {
      font-size: 2.5rem;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 68.75em) {
    .internal-heading__modifier {
      font-size: 2.5rem;
      margin-bottom: 1.7rem; } }
  @media only screen and (max-width: 43.75em) {
    .internal-heading__modifier {
      font-size: 2.2rem;
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .internal-heading__modifier {
      font-size: 2rem;
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .internal-heading__modifier {
      font-size: 1.8rem;
      margin-bottom: 1.3rem;
      border-bottom: 2px solid #4286f4; } }

.para-box__modifier {
  font-size: 1.85rem;
  font-family: 'Roboto', sans-serif;
  margin: 0rem !important;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: normal;
  text-align: justify;
  color: #eee; }
  @media only screen and (min-width: 80em) and (max-width: 100em) {
    .para-box__modifier {
      font-size: 1.5rem;
      line-height: 2.2rem; } }
  @media only screen and (max-width: 75em) {
    .para-box__modifier {
      font-size: 1.5rem;
      line-height: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .para-box__modifier {
      font-size: 1.7rem;
      line-height: 2.3rem; } }
  @media only screen and (max-width: 43.75em) {
    .para-box__modifier {
      font-size: 1.4rem;
      line-height: 2.1rem; } }
  @media only screen and (max-width: 37.5em) {
    .para-box__modifier {
      font-size: 1.3rem;
      line-height: 1.8rem; } }
  @media only screen and (max-width: 31.25em) {
    .para-box__modifier {
      font-size: 1.1rem;
      line-height: 1.5rem;
      font-weight: 300; } }
  @media only screen and (max-width: 22.5em) {
    .para-box__modifier {
      font-size: 1.19rem;
      line-height: 1.5rem; } }
  @media only screen and (max-width: 20em) {
    .para-box__modifier {
      padding-left: 0; } }

.followUs-text {
  font-size: 2.5rem; }
  @media only screen and (min-width: 80em) and (max-width: 100em) {
    .followUs-text {
      font-size: 2.3rem; } }

.footer-text-main {
  font-size: 1.7rem;
  color: #eee;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none !important; }
  .footer-text-main:hover {
    color: #eee; }
  @media only screen and (min-width: 80em) and (max-width: 100em) {
    .footer-text-main {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 75em) {
    .footer-text-main {
      font-size: 1.5rem; } }

.footer-text-sub {
  font-size: 1.5rem;
  color: #eee;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px; }
  @media only screen and (min-width: 80em) and (max-width: 100em) {
    .footer-text-sub {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 75em) {
    .footer-text-sub {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 25.875em) {
    .footer-text-sub {
      font-size: 1.1rem; } }

.footer-contact {
  text-decoration: none;
  border-bottom: none;
  font-size: 1.4rem; }
  @media only screen and (max-width: 25.875em) {
    .footer-contact {
      font-size: 1.1rem; } }
  .footer-contact:not(:last-child) {
    margin-bottom: 10px; }
  .footer-contact:hover {
    color: #eee; }

.glow {
  color: #eee;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; }

@keyframes glow {
  from {
    text-shadow: 0 0 3px #eae9e9, 0 0 6px #eae9e9, 0 0 9px #125cca, 0 0 12px #125cca, 0 0 15px #125cca, 0 0 18px #125cca, 0 0 21px #125cca; }
  to {
    text-shadow: 0 0 3px #eae9e9, 0 0 6px #eae9e9, 0 0 9px #125cca, 0 0 12px #125cca, 0 0 15px #125cca, 0 0 18px #125cca, 0 0 21px #125cca; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5% !important;
  scroll-behavior: smooth;
  background-color: #1f1f1f; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 56.25% !important; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25% !important; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 56.25% !important; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 50% !important; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50% !important; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 50% !important; } }
  @media only screen and (max-width: 25.875em) {
    html {
      font-size: 43.75% !important; } }
  @media only screen and (max-width: 25.68em) {
    html {
      font-size: 43.75% !important; } }
  @media only screen and (max-width: 23.4375em) {
    html {
      font-size: 43.75% !important; } }
  @media only screen and (max-width: 22.5em) {
    html {
      font-size: 43.75% !important; } }
  @media only screen and (max-width: 20em) {
    html {
      font-size: 43.75% !important; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 62.5% !important; } }
  @media only screen and (min-width: 80em) and (max-width: 100em) {
    html {
      font-size: 62.5% !important; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 62.5% !important; } }

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #000;
  font-family: 'Electrolize', sans-serif; }
  body::-webkit-scrollbar {
    display: none; }

.navbar,
.navbar-reg {
  backface-visibility: hidden;
  background-color: #1f1f1f !important; }
  @media only screen and (max-width: 31.25em) {
    .navbar,
    .navbar-reg {
      margin: 0 !important; } }

.navbar-reg {
  margin: 0rem !important; }

.navbar-brand {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .3s;
  color: #eee !important; }
  @media only screen and (max-width: 31.25em) {
    .navbar-brand {
      font-size: 2.5rem;
      font-weight: 600; } }
  .navbar-brand:hover {
    color: #1d75fc !important; }
  .navbar-brand__back-icon {
    height: 4.5rem;
    width: auto;
    transition: all .3s; }
    .navbar-brand__back-icon:hover {
      transform: translateX(-5px); }
    @media only screen and (max-width: 56.25em) {
      .navbar-brand__back-icon {
        height: 3.5rem; } }
    @media only screen and (max-width: 31.25em) {
      .navbar-brand__back-icon {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0; } }

.navbar-heading {
  font-size: 3.5rem;
  color: #eae9e9;
  text-transform: uppercase;
  font-weight: 700;
  padding: 3rem 0; }
  @media only screen and (max-width: 56.25em) {
    .navbar-heading {
      font-size: 2.5rem;
      padding: 1rem 0; } }
  @media only screen and (max-width: 43.75em) {
    .navbar-heading {
      font-size: 2rem;
      padding: 1rem 0; } }
  @media only screen and (max-width: 31.25em) {
    .navbar-heading {
      font-size: 1.9rem;
      padding: 1.7rem 0 1.5rem 0;
      margin: 1rem; } }
  @media only screen and (max-width: 25.875em) {
    .navbar-heading {
      font-size: 1.7rem;
      padding: 1.5rem 0;
      margin: 0rem;
      font-weight: 500; } }
  @media only screen and (max-width: 23.4375em) {
    .navbar-heading {
      font-size: 1.6rem;
      padding: 1.6rem 0; } }
  @media only screen and (max-width: 22.5em) {
    .navbar-heading {
      font-size: 1.3rem;
      padding: 1rem 0; } }
  @media only screen and (max-width: 20em) {
    .navbar-heading {
      font-size: 1.15rem; } }

.navbar-brand-img {
  width: 7rem; }

.navbar-nav {
  font-size: 1.35rem;
  font-weight: 600;
  text-transform: uppercase; }
  @media only screen and (max-width: 68.75em) {
    .navbar-nav {
      font-size: 1.30rem; } }
  @media only screen and (max-width: 31.25em) {
    .navbar-nav {
      font-size: 1.2rem; } }

.nav-link {
  margin-right: 0.6rem;
  transition: all .1s;
  color: #eee !important; }
  .nav-link:hover {
    color: #1d75fc !important; }

.active {
  color: #1d75fc !important; }

.neon-btn {
  position: relative;
  display: inline-block;
  color: #125cca;
  overflow: hidden;
  transition: 0.2s;
  border: 0.3rem solid #125cca; }
  .neon-btn:hover {
    color: #eee;
    background: #125cca;
    box-shadow: 0 0 10px #125cca, 0 0 40px #125cca, 0 0 80px #125cca;
    border: 0.3rem solid #125cca; }
  .neon-btn--read-more {
    padding: 1.2rem;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    margin-top: 2rem;
    font-style: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem; }
    @media only screen and (max-width: 31.25em) {
      .neon-btn--read-more {
        font-size: 1.3rem;
        padding: 1rem; } }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    .neon-btn {
      color: #eee;
      background: #125cca;
      box-shadow: 0 0 10px #125cca, 0 0 40px #125cca, 0 0 80px #125cca; } }

.Intro {
  height: 100vh;
  background: transparent; }
  .Intro__heading-main__box-content {
    font-family: 'Electrolize', sans-serif;
    font-size: 8rem;
    color: #eae9e9;
    text-align: center;
    font-weight: 800;
    width: 100vw;
    z-index: 40;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 11rem;
    opacity: 0.80;
    letter-spacing: 1rem; }
    @media only screen and (min-width: 80em) and (max-width: 100em) {
      .Intro__heading-main__box-content {
        font-size: 7rem;
        line-height: 10rem; } }
    @media only screen and (max-width: 75em) {
      .Intro__heading-main__box-content {
        font-size: 6rem;
        line-height: 8rem; } }
    @media only screen and (max-width: 50em) {
      .Intro__heading-main__box-content {
        font-size: 5rem; } }
    @media only screen and (max-width: 43.75em) {
      .Intro__heading-main__box-content {
        font-size: 4.5rem;
        line-height: 7.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .Intro__heading-main__box-content {
        font-size: 4rem;
        letter-spacing: 0.5rem; } }
    @media only screen and (max-width: 31.25em) {
      .Intro__heading-main__box-content {
        line-height: 5.5rem;
        letter-spacing: 0.3rem; } }
    @media only screen and (max-width: 25.875em) {
      .Intro__heading-main__box-content {
        font-size: 3.6rem;
        line-height: 5rem; } }
    @media only screen and (max-width: 23.4375em) {
      .Intro__heading-main__box-content {
        font-size: 3.2rem; } }
    @media only screen and (max-width: 22.5em) {
      .Intro__heading-main__box-content {
        font-size: 3rem; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  opacity: 0.60;
  overflow: hidden; }
  .bg-video__content {
    height: 100vh;
    width: 100vw;
    object-fit: cover; }

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media only screen and (max-width: 68.75em) {
    .about-content__box1 {
      margin-top: 0rem !important; } }
  .about-content__box1__video__modifier {
    border-radius: 0.5rem; }
    @media only screen and (max-width: 68.75em) {
      .about-content__box1__video__modifier {
        box-shadow: none; } }

.contact-content {
  background-color: #000; }
  .contact-content__box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (min-width: 80em) and (max-width: 100em) {
      .contact-content__box {
        justify-content: space-evenly; } }
    @media only screen and (max-width: 75em) {
      .contact-content__box {
        justify-content: space-evenly; } }
    @media only screen and (max-width: 68.75em) {
      .contact-content__box {
        justify-content: space-evenly; } }
    @media only screen and (max-width: 37.5em) {
      .contact-content__box {
        padding: 2rem !important; } }
    .contact-content__box__address {
      flex-basis: 45rem; }
      @media only screen and (min-width: 80em) and (max-width: 100em) {
        .contact-content__box__address {
          flex-basis: 48rem; } }
      @media only screen and (max-width: 56.25em) {
        .contact-content__box__address {
          flex-basis: 50rem;
          margin-bottom: 2rem; } }
    .contact-content__box__CSI {
      flex-basis: 45rem; }
      @media only screen and (min-width: 80em) and (max-width: 100em) {
        .contact-content__box__CSI {
          display: none;
          visibility: hidden;
          height: 0;
          width: 0; } }
      @media only screen and (max-width: 75em) {
        .contact-content__box__CSI {
          display: none;
          visibility: hidden;
          height: 0;
          width: 0; } }
    .contact-content__box__icon--modifier {
      height: 7rem;
      width: auto;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 80em) and (max-width: 100em) {
        .contact-content__box__icon--modifier {
          height: 6rem; } }
      @media only screen and (max-width: 75em) {
        .contact-content__box__icon--modifier {
          height: 5rem; } }
    .contact-content__box__logo {
      display: flex;
      justify-content: center; }
      .contact-content__box__logo--modifier {
        height: 8rem;
        width: auto;
        margin-bottom: 1rem; }
        @media only screen and (min-width: 80em) and (max-width: 100em) {
          .contact-content__box__logo--modifier {
            height: 7rem; } }
        @media only screen and (max-width: 75em) {
          .contact-content__box__logo--modifier {
            height: 6rem; } }
    .contact-content__box__social-box {
      flex-basis: 45rem; }
      @media only screen and (min-width: 80em) and (max-width: 100em) {
        .contact-content__box__social-box {
          flex-basis: 48rem; } }
      .contact-content__box__social-box__icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-bottom: 1rem; }
        .contact-content__box__social-box__icons--icon1 {
          height: 7rem; }
          @media only screen and (min-width: 80em) and (max-width: 100em) {
            .contact-content__box__social-box__icons--icon1 {
              height: 5rem; } }
          @media only screen and (max-width: 75em) {
            .contact-content__box__social-box__icons--icon1 {
              height: 4.5rem; } }
        .contact-content__box__social-box__icons--icon2 {
          height: 9rem; }
          @media only screen and (min-width: 80em) and (max-width: 100em) {
            .contact-content__box__social-box__icons--icon2 {
              height: 6.6rem; } }
          @media only screen and (max-width: 75em) {
            .contact-content__box__social-box__icons--icon2 {
              height: 6rem; } }
        .contact-content__box__social-box__icons--icon3 {
          height: 6.5rem; }
          @media only screen and (min-width: 80em) and (max-width: 100em) {
            .contact-content__box__social-box__icons--icon3 {
              height: 5rem; } }
          @media only screen and (max-width: 75em) {
            .contact-content__box__social-box__icons--icon3 {
              height: 4.5rem; } }
    .contact-content__box__phone {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }

.footer-icon {
  height: 2.5rem;
  margin-bottom: 8px;
  margin-right: 5px; }

.Registration {
  background-color: #000; }
  @media only screen and (max-width: 50em) {
    .Registration {
      padding: 1rem; } }

@media only screen and (max-width: 50em) {
  .Abstract {
    padding: 1rem; } }

.reg-abs-main {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 50em) {
    .reg-abs-main {
      margin-top: 0; } }
  @media only screen and (max-width: 43.75em) {
    .reg-abs-main {
      margin-bottom: 2rem; } }
  .reg-abs-main__box1 {
    display: flex;
    flex-direction: column; }
  .reg-abs-main__reg-box, .reg-abs-main__abs-box {
    width: 50vw;
    border: none;
    background-color: #000;
    margin-left: 2rem; }
    @media only screen and (max-width: 50em) {
      .reg-abs-main__reg-box, .reg-abs-main__abs-box {
        margin-left: 1rem; } }
    @media only screen and (max-width: 43.75em) {
      .reg-abs-main__reg-box, .reg-abs-main__abs-box {
        width: 100%;
        margin-left: auto; } }
    .reg-abs-main__reg-box--heading, .reg-abs-main__abs-box--heading {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 600;
      color: #1d75fc !important;
      font-family: 'Poppins', sans-serif; }
      @media only screen and (max-width: 75em) {
        .reg-abs-main__reg-box--heading, .reg-abs-main__abs-box--heading {
          font-size: 2.3rem; } }
      @media only screen and (max-width: 50em) {
        .reg-abs-main__reg-box--heading, .reg-abs-main__abs-box--heading {
          font-size: 2rem; } }
      @media only screen and (max-width: 43.75em) {
        .reg-abs-main__reg-box--heading, .reg-abs-main__abs-box--heading {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 31.25em) {
        .reg-abs-main__reg-box--heading, .reg-abs-main__abs-box--heading {
          text-align: center;
          font-size: 1.6rem; } }
      @media only screen and (max-width: 25.875em) {
        .reg-abs-main__reg-box--heading, .reg-abs-main__abs-box--heading {
          text-align: center;
          font-size: 1.5rem; } }
    .reg-abs-main__reg-box--list-collection, .reg-abs-main__abs-box--list-collection {
      padding: 1rem; }
      @media only screen and (min-width: 80em) and (max-width: 100em) {
        .reg-abs-main__reg-box--list-collection, .reg-abs-main__abs-box--list-collection {
          padding: 0; } }
      @media only screen and (max-width: 56.25em) {
        .reg-abs-main__reg-box--list-collection, .reg-abs-main__abs-box--list-collection {
          padding: 0; } }
    .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
      list-style: disc;
      font-size: 1.8rem;
      font-weight: 500;
      color: #eee;
      text-align: justify; }
      .reg-abs-main__reg-box--list:not(:last-child), .reg-abs-main__abs-box--list:not(:last-child) {
        margin-bottom: 1rem; }
      @media only screen and (min-width: 80em) and (max-width: 100em) {
        .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 75em) {
        .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 68.75em) {
        .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
          font-size: 1.4rem; } }
      @media only screen and (max-width: 56.25em) {
        .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
          font-size: 1.3rem; } }
      @media only screen and (max-width: 50em) {
        .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
          font-size: 1.2rem; }
          .reg-abs-main__reg-box--list:not(:last-child), .reg-abs-main__abs-box--list:not(:last-child) {
            margin-bottom: 0.8rem; } }
      @media only screen and (max-width: 43.75em) {
        .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
          font-size: 1.25rem;
          text-align: justify; } }
      @media only screen and (max-width: 37.5em) {
        .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
          font-size: 1.30rem;
          font-weight: 400; } }
      @media only screen and (max-width: 31.25em) {
        .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
          text-align: justify;
          line-height: normal; }
          .reg-abs-main__reg-box--list:not(:last-child), .reg-abs-main__abs-box--list:not(:last-child) {
            margin-bottom: 0.8rem; } }
      @media only screen and (max-width: 25.875em) {
        .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 20em) {
        .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
          font-size: 1.1rem; } }
    .reg-abs-main__reg-box--sentence, .reg-abs-main__abs-box--sentence {
      font-size: 1.8rem;
      font-weight: 500;
      color: #eee;
      list-style: disc; }
      @media only screen and (min-width: 80em) and (max-width: 100em) {
        .reg-abs-main__reg-box--sentence, .reg-abs-main__abs-box--sentence {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 75em) {
        .reg-abs-main__reg-box--sentence, .reg-abs-main__abs-box--sentence {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 68.75em) {
        .reg-abs-main__reg-box--sentence, .reg-abs-main__abs-box--sentence {
          font-size: 1.4rem; } }
      @media only screen and (max-width: 56.25em) {
        .reg-abs-main__reg-box--sentence, .reg-abs-main__abs-box--sentence {
          font-size: 1.3rem; } }
      @media only screen and (max-width: 50em) {
        .reg-abs-main__reg-box--sentence, .reg-abs-main__abs-box--sentence {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 43.75em) {
        .reg-abs-main__reg-box--sentence, .reg-abs-main__abs-box--sentence {
          font-size: 1.1rem; } }
      @media only screen and (max-width: 37.5em) {
        .reg-abs-main__reg-box--sentence, .reg-abs-main__abs-box--sentence {
          font-size: 1.3rem; } }
      @media only screen and (max-width: 25.875em) {
        .reg-abs-main__reg-box--sentence, .reg-abs-main__abs-box--sentence {
          line-height: normal;
          font-weight: 400; }
          .reg-abs-main__reg-box--sentence:not(:last-child), .reg-abs-main__abs-box--sentence:not(:last-child) {
            margin-bottom: 0.5rem; } }
      @media only screen and (max-width: 20em) {
        .reg-abs-main__reg-box--sentence, .reg-abs-main__abs-box--sentence {
          font-size: 1.1rem; } }
    .reg-abs-main__reg-box--btn1, .reg-abs-main__reg-box--btn2, .reg-abs-main__abs-box--btn1, .reg-abs-main__abs-box--btn2 {
      font-size: 1.6rem;
      width: 20rem;
      height: 4rem;
      margin-bottom: 5rem;
      text-transform: uppercase;
      font-weight: 500;
      border-radius: .3rem; }
      @media only screen and (min-width: 80em) and (max-width: 100em) {
        .reg-abs-main__reg-box--btn1, .reg-abs-main__reg-box--btn2, .reg-abs-main__abs-box--btn1, .reg-abs-main__abs-box--btn2 {
          margin-bottom: 2rem; } }
      @media only screen and (max-width: 75em) {
        .reg-abs-main__reg-box--btn1, .reg-abs-main__reg-box--btn2, .reg-abs-main__abs-box--btn1, .reg-abs-main__abs-box--btn2 {
          margin-bottom: 2rem; } }
      @media only screen and (max-width: 56.25em) {
        .reg-abs-main__reg-box--btn1, .reg-abs-main__reg-box--btn2, .reg-abs-main__abs-box--btn1, .reg-abs-main__abs-box--btn2 {
          font-size: 1.3rem;
          width: 17rem; } }
      @media only screen and (max-width: 25.875em) {
        .reg-abs-main__reg-box--btn1, .reg-abs-main__reg-box--btn2, .reg-abs-main__abs-box--btn1, .reg-abs-main__abs-box--btn2 {
          font-size: 1.2rem;
          width: 16rem;
          align-self: center; } }
      @media only screen and (max-width: 20em) {
        .reg-abs-main__reg-box--btn1, .reg-abs-main__reg-box--btn2, .reg-abs-main__abs-box--btn1, .reg-abs-main__abs-box--btn2 {
          font-size: 1.1rem;
          width: 14rem;
          height: 3rem; } }
    .reg-abs-main__reg-box--btn2, .reg-abs-main__abs-box--btn2 {
      margin-bottom: 0rem;
      margin-top: 2rem; }
      @media only screen and (min-width: 80em) and (max-width: 100em) {
        .reg-abs-main__reg-box--btn2, .reg-abs-main__abs-box--btn2 {
          margin-top: 1rem; } }
      @media only screen and (max-width: 75em) {
        .reg-abs-main__reg-box--btn2, .reg-abs-main__abs-box--btn2 {
          margin-top: 1rem; } }
  .reg-abs-main__box2 {
    overflow: hidden; }
    .reg-abs-main__box2__img--modifier {
      height: 100%;
      width: 100%; }
      @media only screen and (max-width: 43.75em) {
        .reg-abs-main__box2__img--modifier {
          display: none;
          visibility: hidden;
          width: 0;
          height: 0; } }

.innovation-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }
  @media only screen and (max-width: 56.25em) {
    .innovation-content {
      flex-direction: column; } }
  .innovation-content__procedure {
    margin: 0 3rem; }
    @media only screen and (max-width: 37.5em) {
      .innovation-content__procedure {
        margin: 0 1rem; } }
  .innovation-content__img {
    margin: 2rem;
    width: 45vw !important;
    border-radius: 0.5rem !important; }
    @media only screen and (max-width: 56.25em) {
      .innovation-content__img {
        display: none;
        visibility: hidden;
        height: 0;
        width: 0; } }
  @media only screen and (max-width: 56.25em) {
    .innovation-content__btn {
      display: block;
      text-align: center; } }
  .innovation-content__btn--modifier {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px;
    margin-top: 1rem;
    text-transform: uppercase;
    text-decoration: none !important; }
    @media only screen and (min-width: 80em) and (max-width: 100em) {
      .innovation-content__btn--modifier {
        padding: 7px 18px; } }
    @media only screen and (max-width: 75em) {
      .innovation-content__btn--modifier {
        padding: 7px 17px;
        font-size: 1.8rem;
        margin-top: 1.2rem; } }
    @media only screen and (max-width: 68.75em) {
      .innovation-content__btn--modifier {
        margin-top: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .innovation-content__btn--modifier {
        margin-top: 1.3rem;
        align-self: center; } }
    @media only screen and (max-width: 43.75em) {
      .innovation-content__btn--modifier {
        font-size: 1.7rem;
        padding: 5px 15px; } }
    @media only screen and (max-width: 37.5em) {
      .innovation-content__btn--modifier {
        font-size: 1.7rem; } }
    @media only screen and (max-width: 31.25em) {
      .innovation-content__btn--modifier {
        font-size: 1.4rem;
        padding: 7px 13px; } }

.past-memories-img {
  border-radius: 0.4rem;
  border: 0.2rem solid #125cca; }

.card-content {
  border: 0.2rem solid #1d75fc;
  border-radius: 0.5rem; }
  .card-content__text-box {
    background-color: #1f1f1f; }
  .card-content__title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #1d75fc;
    text-transform: uppercase; }
    @media only screen and (min-width: 80em) and (max-width: 100em) {
      .card-content__title {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 75em) {
      .card-content__title {
        font-size: 1.7rem; } }
    @media only screen and (max-width: 56.25em) {
      .card-content__title {
        font-size: 1.9rem;
        font-weight: 500; } }
    @media only screen and (max-width: 22.5em) {
      .card-content__title {
        font-size: 1.5rem; } }
  .card-content__text {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: #eee; }
    @media only screen and (min-width: 80em) and (max-width: 100em) {
      .card-content__text {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 75em) {
      .card-content__text {
        font-size: 1.3rem; } }
    @media only screen and (max-width: 56.25em) {
      .card-content__text {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 50em) {
      .card-content__text {
        font-weight: 400; } }
    @media only screen and (max-width: 31.25em) {
      .card-content__text {
        font-size: 1.3rem;
        font-weight: 200; } }

.stats .circle {
  width: 15rem;
  height: 15rem;
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%; }
  @media only screen and (max-width: 22.5em) {
    .stats .circle {
      width: 13rem;
      height: 13rem; } }

.stats .circle-text, .stats-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #1d75fc;
  text-transform: uppercase;
  margin-top: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .stats .circle-text, .stats-text {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 37.5em) {
    .stats .circle-text, .stats-text {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .stats .circle-text, .stats-text {
      font-size: 1.4rem; } }

.value {
  color: #eae9e9; }
  @media only screen and (max-width: 56.25em) {
    .value {
      font-size: 2rem; } }

.stats .value::after {
  content: "+"; }

.sponsor-img {
  height: 15rem;
  width: 15rem; }
  @media only screen and (max-width: 68.75em) {
    .sponsor-img {
      height: 11rem;
      width: 11rem; } }
  @media only screen and (max-width: 25.875em) {
    .sponsor-img {
      height: 8rem;
      width: 8rem; } }

.magzine-main__sub {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 68.75em) {
    .magzine-main__sub {
      flex-direction: column-reverse; } }
  .magzine-main__sub__details {
    margin: 0rem; }
    @media only screen and (max-width: 68.75em) {
      .magzine-main__sub__details {
        margin: 0rem 1.5rem; } }
  .magzine-main__sub__cover-page {
    margin-bottom: 0rem; }
    @media only screen and (max-width: 68.75em) {
      .magzine-main__sub__cover-page {
        margin-bottom: 1rem; } }
    .magzine-main__sub__cover-page--modifier {
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      height: 50rem; }
      @media only screen and (max-width: 75em) {
        .magzine-main__sub__cover-page--modifier {
          height: 40rem; } }
      @media only screen and (max-width: 68.75em) {
        .magzine-main__sub__cover-page--modifier {
          height: 35rem; } }
      @media only screen and (max-width: 25.875em) {
        .magzine-main__sub__cover-page--modifier {
          height: 30rem; } }
  .magzine-main__sub__details {
    flex-basis: 55%; }
    @media only screen and (max-width: 68.75em) {
      .magzine-main__sub__details {
        justify-content: center; } }
    @media only screen and (max-width: 31.25em) {
      .magzine-main__sub__details {
        margin: 0.8rem; } }
    @media only screen and (max-width: 20em) {
      .magzine-main__sub__details {
        margin: 1rem; } }
    @media only screen and (max-width: 68.75em) {
      .magzine-main__sub__details__btn {
        display: flex;
        justify-content: center;
        align-content: center; } }
