.team-member
{
	background: #1f1f1f;
	border: 0.2rem solid #303f9f;
    border-radius: 0.5rem;
}

.member-img
{
	border-radius: 0.5rem;
}

.member-name
{
	font-size: 20px;
}

.member-desg
{
	font-size: 13px;
	color: #1d75fc;
}

@media(max-width: 991px)
{
	.member-name
	{
		font-size: 14px;
	}

	.member-desg
	{
		font-size: 11px;
	}
}

@media(max-width: 356px)
{
	.member-name
	{
		font-size: 12px;
	}

	.member-desg
	{
		font-size: 9px;
	}
}