.about-content{
    display: flex;
    flex-direction: row;
    align-items: center;

    &__box1{
        @include respond(bp-6){
            margin-top: 0rem!important;
        }
        &__video{

            &__modifier{
                border-radius: 0.5rem;
                // height: 45rem;

                @include respond(bp-6){
                    box-shadow: none;
                }

            }
        }
    }

    &__box2{
        //Modifications for about-content__box2 can be done here
    }

}
