.Intro {
    height: 100vh;
    background: transparent;

    &__heading-main {

        &__box {

            &-content {
                font-family: 'Electrolize', sans-serif;
                font-size: 8rem;
                color: $white-2;
                text-align: center;
                font-weight: 800;
                width: 100vw;
                z-index: 40;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: 11rem;
                opacity: 0.80;
                letter-spacing: 1rem;

                @include respond(bp-8) {
                    font-size: 7rem;
                    line-height: 10rem;
                }

                @include respond(bp-7) {
                    font-size: 6rem;
                    line-height: 8rem;
                }

                @include respond(bp-4){
                    font-size: 5rem;
                }

                @include respond(bp-3){
                    font-size: 4.5rem;
                    line-height: 7.5rem;
                }

                @include respond(bp-2) {
                    font-size: 4rem;
                    letter-spacing: 0.5rem;
                }

                @include respond(bp-1) {
                    line-height: 5.5rem;
                    letter-spacing: 0.3rem;
                }

                @include respond(iphone-6/7/8plus) {
                    font-size: 3.6rem;
                    line-height: 5rem;
                }

                @include respond(iphone-6/7/8/10) {
                    font-size: 3.2rem;
                }

                @include respond(galaxy-s5) {
                    font-size: 3rem;
                }

            }

        }
    }

}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0.60;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}