.Intro {
    // margin-top: 8rem;
    height: 100vh;
    background: transparent;


    // @include respond(bp-5) {
    //     height: 80vh;

    // }

    &__heading-main {

        &__box {

            &-content {
                font-family: 'Electrolize', sans-serif;
                font-size: 8rem;
                color: $white-2;
                text-align: center;
                font-weight: 700;
                width: 90vw;
                z-index: 20;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: 11rem;
                opacity: 0.80;
                letter-spacing: 1rem;

                @include respond(bp-8) {
                    font-size: 5.5rem;
                }

                @include respond(bp-7) {
                    font-size: 5rem;
                }

                @include respond(bp-5) {
                    font-size: 4rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    line-height: 10rem;
                }

                @include respond(bp-4) {
                    font-size: 4.3rem;
                }

                @include respond(bp-3) {
                    font-size: 3.7rem;
                    line-height: 8rem;
                }

                @include respond(bp-2) {
                    font-size: 3rem;
                    line-height: 6rem;
                    letter-spacing: 0rem;
                }

                @include respond(bp-1) {
                    font-size: 2.7rem;
                    font-weight: 700;
                    font-family: 'Electrolize', sans-serif;
                    line-height: 6rem;
                }

                @include respond(iphone-6/7/8plus) {
                    font-size: 4rem;
                    line-height: 6.5rem;
                }

                @include respond(iphone-6/7/8/10) {
                    font-size: 3.7rem;
                }

                @include respond(galaxy-s5) {
                    font-size: 3.4rem;
                    line-height: 5.5rem;
                }

                @include respond(iphone-5se) {
                    font-size: 3.1rem;
                    line-height: 5rem;
                }
            }

        }
    }

}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0.80;
    overflow: hidden;
    // margin-top: 8rem;

    // @include respond(bp-5) {
    //     height: 80%;
    // }

    // @include respond(bp-1) {
    //     height: 82.5%;
    // }

    // @include respond(iphone-6/7/8plus) {
    //     height: 83%;
    // }

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

}